body{
    display: flex;
}

/* ----- Chat Panal ----- */

nav {
    width: 31.5625rem;
    height: 100%;
    
}
.chats-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.chats h1{
    font-size: 3rem;
    font-weight: 600;
    padding: 3.125rem 1.875rem 2.5rem 30px;
}
.search-bar{
    width: 28.125rem;
    height: 4.0625rem;
    display: flex;
    background-color: var(--secondary-background-color);
    border-radius: 1.25rem;
    border: none;
    align-items: center;
    padding: 1.0625rem;
    gap: .625rem; 
}
.icons{
    font-size: 1.8rem;
}
.search-bar p{
    margin-bottom: 0rem;
    font-size: 1.25rem;
    font-weight: 300;
}
.chat-profile{
    display: flex;
    align-items: center;
}
.chat-profile p{
    font-size: .875rem;
    font-weight: 400;
}
.profile-img{
    width: 4rem;
    height: 4rem;
}
.profile-info h2{
    font-size: 1.25rem;
    font-weight: 600;
}
.chat-info-container{
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    justify-content: space-between;
}