body {
  display: flex;
}
h1 {
  margin-bottom: 0rem;
}
p {
  margin-bottom: 0rem;
}
.privacy-icon {
  font-size: 3.5rem;
  display: flex;
  align-items: center;
  padding-right: 15px;
}

/* ----- Chat Panal ----- */

nav.chats {
  border-right: solid 0.0625rem var(--sidebar-nav-button-hover-background-color);
  width: 32.5rem;
  height: 100vh;
  display: flex;
  flex-direction: column;
}
.chats-container {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  gap: 2.5rem;
}
.chats h1 {
  text-align: left;
  font-size: 3rem;
  font-weight: 600;
  /* padding: 3.125rem 1.875rem 2.5rem 2.3125rem; */
}
.search-bar {
  width: 100%;
  height: 4.0625rem;
  display: flex;
  background-color: var(--secondary-background-color);
  border-radius: 1.25rem;
  border: none;
  align-items: center;
  padding-left: 1rem;
  gap: 0.625rem;
}

.search-bar input {
  width: 100%;
  height: 100%;
  background-color: transparent;
  border: none;
  outline: none;
  padding: 1rem;
}
.icons {
  font-size: 1.8rem;
}
.search-bar p {
  margin-bottom: 0rem;
  font-size: 1.25rem;
  font-weight: 300;
}
.chat-profile {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 5.625rem;
  padding: 0rem 1.25rem;
  gap: 0.8125rem;
  border-radius: 0.625rem;
  text-decoration: none;
}
.chat-profile p {
  font-size: 0.875rem;
  font-weight: 400;
}
.chats-list {
  display: flex;
  flex-direction: column;
  gap: 0.9375rem;
}
.profile-img {
  width: 4rem;
  height: 4rem;
  border-radius: 1000rem;
  object-fit: cover;
  object-position: center;
}
.profile-info {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}
.profile-info h2 {
  font-size: 1.25rem;
  font-weight: 600;
  width: 100%;
}
.chat-info-container {
  display: flex;
  width: 100%;
  flex: 1;
  /* width: 22.25rem; */
  /* flex-direction: column; */
  /* align-items: center; */
  justify-content: space-between;
}

.chat-profile:hover {
  background-color: var(--sidebar-nav-button-background-color);
}
.chat-profile.active {
  background-color: var(--secondary-background-color);
}

/* ----- Chats panal ----- */
body > main > * {
  padding: 0rem;
}
section {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.user-chat-profile {
  padding: 2rem;
  display: flex;
  border-bottom: solid 1px var(--secondary-background-color);
}
.user-info-container {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.user-chat-profile img {
	width: 4rem;
	height: 4rem;
	border-radius: 1000rem;
	object-fit: cover;
	object-position: center;
}
.user-info {
  padding-left: 1.5625rem;
}
.user-info h1 {
  font-size: 1.875rem;
  font-weight: 500;
}
.user-info p {
  font-size: 1rem;
  font-weight: 300;
}
.messages-container {
  padding: 1rem;
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  overflow-y: auto;
  justify-content: end;
  padding-bottom: 2rem;
}

.message-input-container {
  width: 100%;
  height: 7.1875rem;
  gap: 1rem;
  display: flex;
  justify-content: space-between;
  padding: 24px 20px 24px 30px;
  box-shadow: 0px -5px 20px var(--secondary-background-color);
}
.type-area {
  display: flex;
  align-items: center;
  flex: 1;
  border-radius: 1.25rem;
  background-color: var(--secondary-background-color);
  padding: 1rem;
}

.message-container {
  display: flex;
  width: 100%;
  gap: 0.625rem;
}

.message-container > img {
  width: 2.1875rem;
  height: 2.1875rem;
  border-radius: 1000rem;
  object-fit: cover;
  object-position: center;
}
.message {
  width: fit-content;
  max-width: 75%;
  font-size: 1rem;
  font-weight: 400;
  background-color: var(--sidebar-nav-button-background-color);
  border-radius: 1.25rem;
  padding: 1.25rem;
}
.sender-message {
  flex-direction: row-reverse;
}

/* ----- Side Profile ----- */
.match-user-profile-container {
	background-color: var(--primary-background-color);
	padding: 1.8rem;
	max-width: 27.5rem;
	height: 100%;
	display: flex;
	flex-direction: column;
	border-left: solid 0.0625rem var(--secondary-background-color);
}
.match-user-profile-picture {
	display: flex;
	justify-content: center;
}
.match-user-profile-picture img {
	width: 22.5rem;
	height: 22.5rem;
	border-radius: 100%;
}
.match-info-container {
	padding-bottom: 5px;
	padding-top: 1.25rem;
	display: flex;
	flex-direction: column;
	border-bottom: solid 0.0625rem var(--secondary-background-color);
}
.match-info-container h1 {
	font-size: 1.875rem;
	font-weight: 600;
}
.user-location {
	display: flex;
	align-items: center;
}
.user-location span {
	font-size: 1.4375rem;
	font-weight: 600;
}
.user-location p {
	font-size: 0.875rem;
	font-weight: 400;
}
.user-bio {
	border-bottom: solid 0.0625rem var(--secondary-background-color);
	padding-top: 0.625rem;
	padding-bottom: 2.5rem;
}
.user-bio p {
	font-size: 1.0625rem;
	font-weight: 400;
}
.user-education {
	border-bottom: solid 0.0625rem var(--secondary-background-color);
	padding: 1.25rem 0rem;
	display: flex;
	align-items: center;
}
.user-education span {
	font-size: 1.5625rem;
}
.user-education p {
	font-size: 0.875rem;
	font-weight: 300;
}
.user-tags {
  width: 100%;
  gap: .625rem;
  padding: .625rem 0rem;
  display: flex;
  flex: 1;
}
.tag{
  border: solid 0.0625rem hsla(0, 0%, 85%, 0.75);
  height: 1.5rem;
  background-color: var(--sidebar-nav-button-hover-background-color);
  padding: .125rem .625rem;
  border-radius: 6.25rem;
  box-shadow: 0px 8px 12px hsla(0, 0%, 80%, 0.75);
}
.user-tags p {
  font-size: .75rem;
  font-weight: 400;
}
#dislike-btn {
	font-size: 1rem;
	color: var(--primary-button-hover-background-color);
	width: 100%;
	background-color: var(--secondary-background-color);
}
#dislike-btn:hover {
	background-color: var(--primary-font-color-varient);
}
#dislike-btn > span {
	font-size: 1.25rem;
}
#block-report-btn {
	width: 100%;
}
#block-report-btn > span {
	font-size: 1.5rem;
	color: var(--primary-highlight-color);
}
#block-report-btn > span :hover {
	color: var(--primary-button-hover-background-color);
}


/* ----- user profile ----- */

#match-user-profile-container{
  border-left: solid .0938rem var(--secondary-background-color); 
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  right: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
}