.container {
	display: grid;
	grid-template-columns: 1fr 1fr;
	width: 100%;
	height: 100vh;
	background-color: var(--primary-background-color);
}

/*------------ Distance preference -----------*/
/* Left Panel */
.left-panel {
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding-left: 70px;
}

h1 {
	font-size: 36px;
	color: #ff5252;
	font-weight: bold;
	margin: 0;
}

h2 {
	font-size: 32px;
	margin: 10px 0;
	font-weight: bold;
}

p {
	font-size: 16px;
	color: gray;
	margin-bottom: 40px;
}

.next-btn {
	padding: 10px 20px;
	background-color: var(--primary-highlight-color);
	border: none;
	color: var(--secondary-font-color);
	border-radius: 30px;
	cursor: pointer;
	font-size: 16px;
	width: 100px;
}

.next-btn:hover {
	background-color: var(--primary-highlight-color-varient);
	color: var(--primary-font-color);
}

/* Right Panel */
.right-panel {
	display: flex;
  gap: 2.5rem;
  overflow: hidden;
  justify-content: center;
  height: 100%;
}

.circle {
	width: 200px;
	height: 200px;
	border: 2px solid #ccc;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 40px;
}

.inner-circle {
	width: 100px;
	height: 100px;
	border-radius: 50%;
	background: linear-gradient(135deg, #ff5252, #f89696);
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Range Selector */
.range-container {
	width: 100%;
	max-width: 400px;
	text-align: center;
}

label {
	font-size: 14px;
	color: gray;
	display: block;
	margin-bottom: 10px;
}

input[type='range'] {
	width: 100%;
	-webkit-appearance: none;
	appearance: none;
	height: 6px;
	border-radius: 3px;
	background: #ccc;
	outline: none;
	margin-bottom: 10px;
	cursor: pointer;
}

input[type='range']::-webkit-slider-thumb {
	-webkit-appearance: none;
	appearance: none;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	background: #ff5252;
	cursor: pointer;
	border: 2px solid #fff;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

input[type='range']::-moz-range-thumb {
	width: 20px;
	height: 20px;
	border-radius: 50%;
	background: #ff5252;
	cursor: pointer;
	border: 2px solid #fff;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.range-value {
	font-size: 14px;
	font-weight: bold;
}

/*------------ Habits -----------*/

.habits-container {
	padding: 6.875rem;
	gap: 5.25rem;
}

/* Left Section */
.left-section {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.left-section h1 {
	font-size: 36px;
	color: #ff4d4f;
	margin-bottom: 20px;
	display: flex;
	align-items: center;
}

.logo-accent {
	font-size: 20px;
	margin-left: 5px;
	vertical-align: text-top;
}

.left-section h2 {
	font-size: 4.4375rem;
	font-weight: bold;
	color: var(--primary-font-color);
	margin: 0rem;
}

.left-section p {
	font-size: 1.4375rem;
	color: var(--primary-font-color-varient);
}

.next-btn {
	width: 20.6875rem;
	height: 4.875rem;
	border-radius: 2.75rem;
	font-size: 2.0625rem;
	font-weight: bold;
	color: #ffffff;
}

/* Right Section */
.right-section {
	width: 48.4375rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 3.125rem;
}
form .question p {
	font-size: 1.9375rem;
	font-weight: 25rem;
	margin-bottom: 15px;
	color: var(--primary-font-color);
}

form .options {
	display: flex;
	gap: 10px;
	flex-wrap: wrap;
}

label {
	display: flex;
	align-items: center;
	cursor: pointer;
}

input[type='radio'] {
	display: none;
}

span {
	background-color: #f0f0f0;
	color: #333;
	padding: 8px 20px;
	border: none;
	border-radius: 6250rem;
	font-size: 1.4375rem;
	font-weight: 400;
	transition: all 0.3s ease;
}

input[type='radio']:checked + span {
	background-color: var(--primary-highlight-color);
	color: var(--secondary-font-color);
}

/* -------- preferences ---------- */

/* Container Layout */
.preferences-container {
	display: flex;
	justify-content: space-between;
	padding: 6.875rem;
	gap: 8.125rem;
}
form .preferences-question {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 48.4375rem;
}
/* Right Section */
.preferences-right-section {
	width: 48.4375rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.preferences-right-section h1 {
	font-size: 4.4375rem;
	font-weight: bold;
	color: var(--primary-font-color);
	margin: 0rem;
}
.preferences-right-section p {
	font-size: 1.4375rem;
	color: var(--primary-font-color-varient);
}

.preferences-next-btn:hover {
	background-color: #ff6666;
}

/* Left Section */
.preferences-right-section {
	flex: 2;
	max-width: 55%;
}

.preferences-question {
	margin-bottom: 30px;
}

.preferences-question-title {
	font-size: 1.9375rem;
	font-weight: 400;
	margin-bottom: 15px;
	color: var(--primary-font-color);
}

.preferences-options {
	display: flex;
	gap: 10px;
	flex-wrap: wrap;
}

.preferences-options label {
	position: relative;
	padding: 10px 20px;
	background-color: #f0f0f0;
	font-size: 1.4375rem;
	font-weight: 500;
	border-radius: 6250rem;
	transition: all 0.3s ease;
	color: var(--primary-font-color);
}

label:hover {
	background-color: #ddd;
}

input[type='radio'] {
	display: none;
}

input[type='radio']:checked + label {
	background-color: var(--primary-highlight-color);
	color: var(--secondary-font-color);
}

/*------------ Gender -----------*/
.gender-container .gender-h1 {
	font-size: 3.4375rem;
	font-weight: 700;
	margin-bottom: 0rem;
	height: 4.9375rem;
	color: black;
}
.gender-container .gender-p{
	height: 2.625rem;
    font-size: 1.4375rem;
    font-weight: 400;
}


.gender-container .gender-span{
	width: 657px;
	text-align:center;
	font-size: 38px;
	border-color:var(--primary-highlight-color) ;
	background-color: var(--primary-background-color);
  color: #333;
  padding: 8px 20px;
  border-radius: 6250rem;
  font-size: 1.4375rem;
  font-weight: 400;
  transition: all 0.3s ease;

}
.gender-container .gender-span:hover{
	background-color: var(--primary-highlight-color);
	color: var(--secondary-font-color);
	border-radius: 6250rem;
}
.gender-container :is(.photo-reel, .photo-reel1) {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 1.5rem;
	height: 100%;
}

.gender-container :is(.photo-reel, .photo-reel1) > img {
	height: 100%;
}
.gender-container .radio-option{
	border-color: var(--primary-highlight-color);
	border-style: solid;
	border-radius: 6250rem;
}

/*------------ Date of birth -----------*/
.dateOfBirth-container .dateOfBirth-h1{
	font-size: 3.4375rem;
	font-weight: 700;
	margin-bottom: 0rem;
	height: 4.9375rem;
	color: black;
}
.dateOfBirth-container .dateOfBirth-p{
	height: 2.625rem;
    font-size: 1.4375rem;
    font-weight: 400;
}
.dateOfBirth-container :is(.photo-reel, .photo-reel1) {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 1.5rem;
	height: 100%;
}

.dateOfBirth-container :is(.photo-reel, .photo-reel1) > img {
	height: 100%;
}
.dateOfBirth-container .gender-container .radio-option{
	border-color: var(--primary-highlight-color);
	border-style: solid;
	border-radius: 6250rem;
}
.dateOfBirth-container .dateOfBirth-span{
	width: 657px;
	text-align:center;
	font-size: 38px;
	border-color:var(--primary-highlight-color) ;
	background-color: var(--primary-background-color);
  color: #333;
  padding: 8px 20px;
  border-radius: 6250rem;
  font-size: 1.4375rem;
  font-weight: 400;
  transition: all 0.3s ease;

}
.dateOfBirth-container .dateOfBirth-span:hover{
	background-color: var(--primary-highlight-color);
	color: var(--secondary-font-color);
	border-radius: 6250rem;
}
.dateOfBirth-container .radio-option{
	border-color: var(--primary-highlight-color);
	border-style: solid;
	border-radius: 6250rem;
}
