/*------------ Show_off -----------*/
.container {
	display: grid;
	grid-template-columns: 1fr 1fr;
	width: 100%;
	height: 100vh;
	background-color: var(--primary-background-color);
}

.input-container {
display: flex;
flex-direction: column;
flex-direction: column;
padding-bottom: 2rem; 
}

/*----------left-panal----------*/

.left-panal {
	display: flex;
	flex-direction: column;
	justify-content: center;
  padding-left: 35px;
}

.left-panal h1{
	font-size: 71px;
	line-height: 90px;
	color: var(--primary-font-color);
	font-weight: bold;
	display: flex;
	align-items: center;
	margin-bottom: 0;
}
.left-panal p{
	color: var(	--primary-font-color-varient);
	font-size: 23px;
	padding: 2rem 2rem ;
	margin-bottom: 0;
}

.btn-primary {

		width: 20.6875rem;
		height: 3.875rem;
		border-radius: 2.75rem;
		font-size: 2.0625rem;
		font-weight: bold;
		color: #ffffff;
		background-color: #ff4d4f;
	
	
	
}
 
/* Right panal */

.right-panal{
	display:grid;
	grid-template-columns: 1fr;
	gap: .125rem;
  padding: 2rem;
}

.input-container input[type='file']{
	display: flex;
	justify-content: space-between;
	align-items: center;  
	width: 16.25rem; 
	height: 10.12rem;
	cursor: pointer;
	font-size: 1.25rem;
	background-color: #ffffff;
	border: 1px solid #ff4d4f;
	border-radius: 2.25rem;
	color:black;
	font-weight: bold;
}
